parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - tests/TestCase/MockHttpClient.php
    ignoreErrors:
        - '#Unsafe usage of new static\(\)#'
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false