request:
  method: POST
  uri: https://wirelesstag.net/ethClient.asmx/GetTagList
  body:
    encoding: UTF-8
    string: '{"id":"{{DEVICE_ID}}"}'
  headers:
    Content-Type:
      - application/json; charset=utf-8
    Authorization:
      - Bearer ***MASKED***
    User-Agent:
      - HotTubController/1.0
    Accept:
      - application/json
response:
  status:
    code: {{ERROR_CODE}}
    message: {{ERROR_MESSAGE}}
  headers:
    Cache-Control:
      - private, max-age=0
    Content-Type:
      - application/json; charset=utf-8
    Date:
      - Thu, 05 Sep 2024 21:00:00 GMT
    Server:
      - Microsoft-IIS/10.0
    Content-Length:
      - '{{CONTENT_LENGTH}}'
  body:
    encoding: UTF-8
    string: '{{ERROR_RESPONSE_BODY}}'
recorded_at: Thu, 05 Sep 2024 21:00:00 GMT