http_interactions: 
  - 
    request: 
      method: POST
      uri: https://wirelesstag.net/ethClient.asmx/GetTagList
      body: 
        encoding: UTF-8
        string: "{\"id\":\"{{DEVICE_ID}}\"}"
      headers: 
        Content-Type: 
          - application/json; charset=utf-8
        Authorization: 
          - Bearer ***MASKED***
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - application/json; charset=utf-8
      body: 
        encoding: UTF-8
        string: "{\"d\":[{\"uuid\":\"217af407-0165-462d-be07-809e82f6a865\",\"name\":\"Hot tub temperature\",\"temperature\":31.1111,\"cap\":18.8889,\"lastComm\":638928152910000000,\"batteryVolt\":3.65,\"signaldBm\":-86,\"alive\":true}]}"
    recorded_at: Thu, 05 Sep 2024 21:00:00 GMT
  - 
    request: 
      method: POST
      uri: https://wirelesstag.net/ethClient.asmx/GetTagList
      body: 
        encoding: UTF-8
        string: "{\"id\":\"{{DEVICE_ID}}\"}"
      headers: 
        Content-Type: 
          - application/json; charset=utf-8
        Authorization: 
          - Bearer ***MASKED***
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        Content-Type: 
          - application/json; charset=utf-[...]
