request:
  method: POST
  uri: https://wirelesstag.net/ethClient.asmx/RequestImmediatePostback
  body:
    encoding: UTF-8
    string: '{"id":"{{DEVICE_ID}}"}'
  headers:
    Content-Type:
      - application/json; charset=utf-8
    Authorization:
      - Bearer ***MASKED***
    User-Agent:
      - HotTubController/1.0
    Accept:
      - application/json
response:
  status:
    code: 200
    message: OK
  headers:
    Cache-Control:
      - private, max-age=0
    Content-Type:
      - application/json; charset=utf-8
    Date:
      - Thu, 05 Sep 2024 21:00:00 GMT
    Server:
      - Microsoft-IIS/10.0
    Content-Length:
      - '25'
  body:
    encoding: UTF-8
    string: '{"d":"Success"}'
recorded_at: Thu, 05 Sep 2024 21:00:00 GMT